<template name="godView">
	<div class="container-fluid">
		<div class="row">
			<div id="map_canvas" class="col-md-8">
				<div id="login-btn-container" class="container-fluid">
					<div class="row">
						<div class="col-xs-12">
							<div class="btn-group btn-group-lg map-btns" role="group">
								<button id="login-btn" type="button" class="btn btn-success" href="{{pathFor 'login'}}">Login</button>
							</div>
						</div>
					</div>
				</div>
				<div id="replay-btn-container" class="container-fluid">
                		<a href="#" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-play"></span></a>
                </div>
			</div>
			<div id="god_view_leaderboard" class="col-md-4">
				<div id="leaderboard-view" class="container-fluid">
					{{> leaderboard}}
				</div>
				<div id="driverHistory-view" class="container-fluid">
					{{> driverHistory}}
				</div>
			</div>
		</div>
	</div>
</template>

