//map buttons
#login-btn-container {
	position: relative;
	top: 15%;
	transform: translateY(-50%);
	z-index: 1;
}
#leaderboard-view {
	overflow-y: scroll;
}
#driverHistory-view {
    overflow-y: scroll;
}
#replay-btn-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
/*#zoom-local-btn-container {
    position: relative;
    top: 74%;
    left:60%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#zoom-nation-btn-container {
    position: relative;
    top: 80%;
    transform: translateY(-50%);
    z-index: 1;
}*/

.map-btns {
    position: absolute;
    top: 75%;
    left: 15%;
   // transform: translate(50%,-50%);
    z-index: 1;
}
.map-zoom-btns {
    position: absolute;
    top: 75%;
    /*left: 65%;
    transform: translate(50%,-50%);*/
    z-index: 1;
}

div.map-btns > div > a > span {
	padding-right: 6px
}


